<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accompany.mapper.DepartmentMapper">

    <!-- 根据医院ID查询科室列表 -->
    <select id="findByHospitalId" resultType="com.accompany.entity.Department">
        select id, name, hospital_id
        from department
        where 1=1
        <if test="hospitalId != null">
            and hospital_id = #{hospitalId}
        </if>
        order by id
    </select>

</mapper>